@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

@import "tailwindcss";

*{
    font-family: "Faculty Glyphic", sans-serif;
}

@theme{
    --color-primary: #2563EB;
    --color-primary-dull: #1F58D8;
    --color-light: #F1F5F9;
    --color-borderColor: #c4c7d2;
}